#main-wrapper-pending-approves{
    background-color: whitesmoke;
}

.box-shadow{
    box-shadow: 1px 1px 8px rgba(0,0,0,.1);
    border-radius: 8px;
    background-color: white;
    padding: 20px 0px;
}

.card-left{
    padding: 50px 5px 40px 60px !important;
}

.card-right{
    padding: 50px 65px 40px 30px !important;
}

#main-wrapper-pending-approves #details-heading-inner span{
    font-size: 13px;
    color: #a5a9af;
}

/*
===============================
        Medias
===============================
*/

@media screen and (max-width: 767px){

    .details-heading #details-heading-inner{
        display: none;
    }

    .card-left{
        padding: 30px 15px 10px 15px !important;
    }

    .card-right{
        padding: 10px 15px 15px 15px !important;
    }

}

@media screen and (min-width: 768px) and (max-width: 991px){
    
    #details-heading-inner .assign-tag{
        margin-left: -5px !important;
    }    
  
}