/*
===============================
        Every Tickets
===============================
*/

.link-separate:hover{
    text-decoration: none;
    cursor: pointer;
}

.all-list-tickets{
    margin-top: 10px;
}

.all-list-tickets .hash-number{
    font-weight: bold;
    padding-top: 10px;
    color: #7f8791;
}

.tic span{
    display: block;
}

 .tic .subject{
    font-weight: 500;
    color: #727a84;
    font-size: 15px;
    opacity: 1;
}

.all-list-tickets .text{
    font-size: 12px;
    color: #a5a9af !important;
}

/*
======== Status ==============
*/

.all-list-tickets .pending{
    font-size: 10px;
    text-transform: uppercase;
    background-color: orange;
    color: white;
    border-radius: 50px;
    padding: 2px 20px;
}


/*
======== Status ==============
*/

.all-list-tickets .assign-to{
    color: black;
    font-size: 11px;
    padding-left: 4px;
}

.all-list-tickets .date{
    font-size: 11px;
    color: black;
    padding-left: 12px;
}

.all-list-tickets .fachevron{
    color: gray;
    opacity: .7;
    font-size: 12px;
    margin-left: 45px;
}

/*
==========================
        Medias              
==========================
*/

@media screen and (max-width: 767px){

    .all-list-tickets .hash-number::before{
        content: "#";
        margin-right: 10px;
    }

    .all-list-tickets .subject{
        font-size: 16px;
    }

    .all-list-tickets .text{
        font-size: 13px;
        margin-left: 58px;
    }

    .all-list-tickets .subject::before{
        content: "Ticket:";
        margin-right: 10px;
    }

    .all-list-tickets .status-btn::before{
        content: "Status:";
        color: black;
        font-size: 14px;
        margin-right: 10px;
    }

    .all-list-tickets .pending{
        font-size: 11px;
    }

    .all-list-tickets .assign-to{
        font-size: 15px;
    }

    .all-list-tickets .assign-to::before{
        content: "Assign To:";
        margin-right: 10px;
        margin-left: -3px !important;
    }

    .all-list-tickets .date{ font-size: 15px; }

    .all-list-tickets .date::before{
        content: "Date:";
        margin-right: 10px;
    }

    .all-list-tickets .fachevron{
        float: right;
    }

}
