#login-container .container-fluid{
    background: url('/login-back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-clip: border-box;
    height: 100vh;
    width: 100%;
    position: relative;
    padding: 0px !important;
    font-family: 'Helvetica';
}

.main-wrapper{
    width: 560px;
    height: 510px;
    position: absolute;
    border: 1px solid white;
    left: 50%;
    top: 55%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 8px;
}

.overlay{
    background-color: white;
    opacity: .5;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#login-container .main-wrapper .main-logo{
    width: 120px !important;
    height: 120px !important;
    position: absolute;
    left: 50%;
    top: -15%;
    transform: translate(-50%);
}

.form-section{
    position: absolute;
    width: 100%;
}

.form-section form{
    margin: 100px;
}

.form-section form input{
    width: 100%;
    border: none !important;
    border-bottom: 2px solid #0a3a60 !important;
    background: none;
    color: #0a3a60;
    font-size: 14px;
    padding: 3px;
    margin-bottom: 14px;
    font-weight: 600;
}

.form-section form input:active, 
.form-section form input:focus{
    border: none;
    box-shadow: none !important;
    outline: none !important;
}


.form-section form input::placeholder{
    color: #0a3a60;
    font-weight: 600;
}

.form-check{ margin-top: -20px; margin-bottom: 50px; }

.form-check-label { 
    color: #0a3a60;
    font-size: 12px;
}
.form-check-label span{
    color: #0b395e;
    font-weight: 600;
}

.form-check-label input[type="radio"]{
    width: 20px !important;
    margin-top: 3px;
    border: 1px solid white !important;
}

.form-check-label input[type="radio"]:before{
    background: none !important;
    border: 1px solid white;
}

.login{
    background-color: white !important;
    text-transform: uppercase;
    height: 33px;
    width: 100% !important;
    color: #0a3a60 !important;
    text-align: center;
    font-size: 13px !important;
    font-weight: 700 !important;
    border-radius: 50px !important;
    border: 1px solid white !important;
}

.bottom-wrapper{
    height: 140px;
    background-color:white;
    position: absolute;
    display: flex;
    border-radius: 0px 0px 8px 8px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    margin-top: 370px;
}

.bottom-wrapper span{
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0a3a60;
    color: white;
    border-radius: 50%;
    padding: 7px 8px 7px 8px;
    font-size: 13px;
    font-weight: 500;
}

.login-saml{
    background-color: #11ae19 !important;
    text-transform: uppercase;
    height: 33px;
    width: 47%;
    color: white !important;
    text-align: center;
    font-size: 13px !important;
    font-weight: 600 !important;
    border-radius: 50px !important;
    border: 1px solid #11ae19 !important;
    position: relative;
}

.login-windows{
    background-color: #0079d6 !important;
    text-transform: uppercase;
    height: 33px;
    width: 47%;
    color: white !important;
    text-align: center;
    font-size: 13px !important;
    font-weight: 600 !important;
    border-radius: 50px !important;
    border: 1px solid #0079d6 !important;
    position: relative;
}

.login:hover, .login:active, .login:focus,
.login-saml:hover, .login-saml:active, .login-saml:focus,
.login-windows:hover, .login-windows:active, .login-windows:focus{
    outline: none !important;
    box-shadow: none !important;
}


/*
================================
            Media Query
================================
*/

@media screen and (max-width: 320px){
    
    .form-section form{
        margin: 65px 30px 70px 30px !important;
    }

    .bottom-wrapper span{ font-size: 11px !important; }

    .login-saml{ font-size: 11px !important; }

    .login-windows{ font-size: 11px !important; }

}

@media screen and (max-width: 576px){

    .main-wrapper{
        width: 90%;
    }

    .form-section form{
        margin: 80px 40px 70px 40px;
    }

    .bottom-wrapper{
        display: block;
        padding-top: 35px;
    }
    .login-saml{
        width: 100%;
        margin-bottom: 10px;
    }
    .login-windows{
        width: 100%;
    }

}

@media screen and (max-width: 480px){

    .main-wrapper{
        top: 52%;
    }

    #login-container .main-wrapper .main-logo{
        width: 90px !important;
        height: 90px !important;
        position: absolute;
        left: 50%;
        top: -11%;
        transform: translate(-50%);
    }   

}